<div v-if="loading" style="text-align: center;">
    <div class="loading360g">
        <div class="center-circle"></div>
        <div class="circle-1 circle-yellow circle-medium"></div>
        <div class="circle-2 circle-orange circle-large"></div>
        <div class="circle-3 circle-teal circle-medium"></div>
        <div class="circle-4 circle-yellow circle-large"></div>
        <div class="circle-5 circle-orange circle-medium"></div>
        <div class="circle-6 circle-red circle-small"></div>
        <!-- <div class="circle-7 circle-teal circle-small"></div>
        <div class="circle-8 circle-red circle-large"></div> -->
    </div>
</div>