# Process this file using `pip-compile` from the package `pip-tools`
pandas
numpy==1.19.3
dash
dash-dangerously-set-inner-html
dash-resumable-upload
flask
requests-cache
click
redis
inflect
humanize
Babel
rq
tqdm
git+https://github.com/drkane/threesixty-parser.git@0bce04c4b9d36575e3d2c2b326c445b665e5447d#egg=threesixtygiving