/* from markercluster.css */

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
    /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
    -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
    -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

/* from markercluster.default.css */

.marker-cluster-small, .marker-cluster-small div {
    background-color: var(--color-yellow);
}

.marker-cluster-medium, .marker-cluster-medium div {
    background-color: var(--color-orange);
    color: #fff;
}

.marker-cluster-large, .marker-cluster-large div {
    background-color: var(--color-red);
    color: #fff;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font-family: var(--fonts-primary);
    font-size: 12px;
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div span {
    font-size: 1.2em;
    line-height: 32px;
}

/* custom styles for leaflet */

.leaflet-container {
    font-family: var(--fonts-primary);
    font-size: var(--text-base-size);
    font-weight: 300;
}

/* Leaflet popup */

.leaflet-popup-content {
    font-size: 0.9em;
}

/* Layers control */

.leaflet-touch .leaflet-control-layers.leaflet-control {
    background: white;
    box-shadow: 0px 4px 8px rgba(21, 54, 52, 0.15);
    position: relative;
    border: 0;
    padding: 0 0 0 4px;
    color: black;
}

form.leaflet-control-layers-list {
    overflow-y: auto;
    padding: 12px 8px;
}

.leaflet-touch .leaflet-control-layers.leaflet-control:before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-red);
}

.leaflet-control-layers-group {
    margin-bottom: 1em;
}

.leaflet-control-layers-group-name {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 16px;
}

.leaflet-control-layers-group label {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.leaflet-container .base-card__subheading {
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
}

.leaflet-container .base-card__heading {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.leaflet-container .base-card__title {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 100;
    margin: 0;
}
.leaflet-container .base-card__text {
    font-size: 1rem;
    font-weight: 100;
}