/*
THREESIXTY_COLOURS = ['#9c2061', '#f48320', '#cddc2b', '#53aadd']
*/

@font-face {
    font-family: Ostrich Sans Black;
    src: url('../assets/OstrichSans-Black.otf');
}

.ostrich {
    font-family: "Ostrich Sans Black", sans-serif;
}

body {
    font-family: "Source Sans Pro", -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    background: -webkit-linear-gradient(top, #EDFEFF 0%, #fff 600px);
    background: linear-gradient(to bottom, #EDFEFF 0%, #fff 600px);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-family: "Ostrich Sans Black", sans-serif;
}

.bg-threesixty-red        {background-color: #9c2061;}
.bg-threesixty-orange     {background-color: #f48320;}
.bg-threesixty-yellow     {background-color: #cddc2b;}
.bg-threesixty-blue       {background-color: #53aadd;}
.bg-threesixty-grey       {background-color: #3b3d3c;}
.bg-threesixty-dark-green {background-color: #585a59;}
.bg-threesixty-mid-grey   {background-color: #737373;}
.b--threesixty-red        {border-color:     #9c2061;}
.b--threesixty-orange     {border-color:     #f48320;}
.b--threesixty-yellow     {border-color:     #cddc2b;}
.b--threesixty-blue       {border-color:     #53aadd;}
.b--threesixty-grey       {border-color:     #3b3d3c;}
.b--threesixty-dark-green {border-color:     #585a59;}
.b--threesixty-mid-grey   {border-color:     #737373;}
.threesixty-red           {color:            #9c2061;}
.threesixty-orange        {color:            #f48320;}
.threesixty-yellow        {color:            #cddc2b;}
.threesixty-blue          {color:            #53aadd;}
.threesixty-grey          {color:            #3b3d3c;}
.threesixty-dark-green    {color:            #585a59;}
.threesixty-mid-grey      {color:            #737373;}

.white a {
    color: #fff;
}

.mw4point5 {
    max-width: 12rem;
}

.rc-slider-track {
    background-color: #53aadd;
}
.rc-slider-dot-active,
.rc-slider-handle {
    border-color: #53aadd;
}

.statistics > div:nth-child(3n+1){
   background: #9c2061;
}
.statistics > div:nth-child(3n+2){
   background: #f48320;
}
.statistics > div:nth-child(3n+3){
   background: #cddc2b;
}


#upload-data button {
    margin-left: 12px;
    padding: 6px;
    background-color: black;
    color: white;
}

/* loading screen */

._dash-loading-callback {
  position: fixed;
  top: 0;
  left: 0;
  z-index:  99999;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

._dash-loading-callback::after {
  content: '';
  font-family: sans-serif;
  padding-top: 50px;
  color: #000;

  -webkit-animation: fadein 0.5s ease-in 1s forwards, spin 2s infinite linear; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s ease-in 1s forwards, spin 2s infinite linear; /* Firefox < 16 */
      -ms-animation: fadein 0.5s ease-in 1s forwards, spin 2s infinite linear; /* Internet Explorer */
       -o-animation: fadein 0.5s ease-in 1s forwards, spin 2s infinite linear; /* Opera < 12.1 */
          animation: fadein 0.5s ease-in 1s forwards, spin 2s infinite linear;  
  /* prevent flickering on every callback */
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;

  /* The banner */
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.5); */
  text-align: center;
  cursor: progress;
  z-index: 100000;

  background-image: url('/assets/360logo.png');
  background-position: center center;
  background-repeat: no-repeat;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* amendments to plotly dash layout */
._dash-undo-redo,
.resumable-btn-pause:disabled,
.resumable-btn-cancel:disabled {
    display: none;
}