  <div class="wrapper">
    <div class="about__columns">
      <div class="about__column">
        <h2>Data sources</h2>
      </div>
    </div>
    <div class="about__columns">
      <div class="about__column">
        <p class="strong">
          Grantmakers
        </p>
        <p>
          360Insights uses the <a href="http://data.threesixtygiving.org/">360Giving data registry</a> to retrieve grants data
          published by grantmakers to the 360Giving data Standard.
        </p>
        <p>
          Each of the files has been published by a grantmaker, usually on their own website,
          under a licence that allows the data to be reused and shared. 
          They have used a common format - the 
          <a href="http://www.threesixtygiving.org/support/standard/" rel="noopener" target="_blank">360Giving data standard</a>
           - to make files in a consistent way.
        </p>
        <p>
          When you select a dataset through 360Insights, the software will fetch the data from the publisher’s website, checks
          that it fits the data Standard, adds some external data if possible and then displays the results in the form of
          charts and a map.
        </p>
        <p class="strong">
          When will I see my data?
        </p>
        <p>
          If you've published data in the 360Giving Data Standard, your data should be available on 360Insights
          a day or two after it is shown on the <a href="http://data.threesixtygiving.org/">360Giving registry</a>.
        </p>
        <p>
          If you don't want to wait, you can upload your 360Giving format file instead.
        </p>
      </div>
      <div class="about__column">
        <p class="strong">
          Other data
        </p>
        <p>
          360Insights combines 360Giving data with other data sources to expand what is possible.
        </p>
        <p>
          <a href="https://findthatcharity.uk/">Findthatcharity</a> is used to bring in data about charities 
          from the following sources, used under the 
          <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a>:
        </p>
        <ul>
        <li>
          <a href="http://data.charitycommission.gov.uk/">Charity Commission for England and Wales</a>
        </li>
        <li>
          <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-register-download">Scottish Charity Regulator</a>
           - <span style="font-style: italic;">© Crown Copyright and database right 2019. Contains
          information from the Scottish Charity Register supplied by the Office of the
          Scottish Charity Regulator and licensed under the 
          <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">Open Government Licence v.2.0</a></span>.
        </li>
        <li>
          <a href="http://www.charitycommissionni.org.uk/charity-search/">Charity Commission for Northern Ireland</a>
        </li>
        </ul>
        <p>
          Charity data on Findthatcharity is updated monthly, but the data can be cached which means you may see data from
          longer ago.
        </p>
        <p>
          Data on postcodes comes from <a href="https://postcodes.findthatcharity.uk/">postcodes.findthatcharity.uk</a>. Postcode data from
          ONS used under <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a>.
        </p>
        <ul>
        <li>
          Contains OS data © Crown copyright and database right 2019 
        </li>
        <li>
          Contains Royal Mail data © Royal Mail copyright and database right 2019 
        </li>
        <li>
          Contains National Statistics data © Crown copyright and database right 2019
        </li>
        </ul>
        <p>
          Data on companies comes from the <a href="https://www.gov.uk/government/organisations/companies-house/about-our-services#uri-info">Companies House URI service</a>.
        </p>
      </div>
    </div>
  </div>