
  <a href="/"><img src="{{ url_for('static', filename='images/360insights-color.png') }}" width="256" /></a><br />
  <h1>About 360Insights</h1>
  <div class="about__columns">
    <div class="about__column">
      <p>
        360Insights is a free tool to help you understand funders better. 
        You can combine and visualise 360Giving and charity data, and 
        explore funding across seven different areas – from grant dates 
        to types of recipients.
      </p>
      <p>
        360Giving commissioned <a href="https://dkane.net/" rel="noopener" target="_blank">David Kane</a> to build 360Insights
        and <a href="https://www.ccmdesign.ca/" rel="noopener" target="_blank">ccm.design</a> to design it.
      </p>
    </div>
    <div class="about__column">
      <p>
        360Insights is completely free to use, and is built on open source technology and openly-licenced data.
      </p>
      <p>
        You can <a href="https://github.com/ThreeSixtyGiving/Insights" rel="noopener" target="_blank">view the site code on Github</a>. 
        The tool makes use of Open Source tools, such as <a href="https://dash.plot.ly/">Dash by Plotly</a>, 
        <a href="http://flask.pocoo.org/">Flask</a> and 
        <a href="https://pandas.pydata.org/">Pandas</a>.
      </ul>
      </p>
      <p>
        {% for i in [
            ("Data sources", "data-sources"),
            ("What happens to data I upload?", "data-upload"),
            ("Cookies", "cookies"),
            ("Privacy", "privacy"),
            ("Terms and conditions", "terms"),
            ("Disclaimer", "disclaimer"),
        ] %}
          <a href="#{{ i[1] }}">{{ i[0] }}</a><br>
        {% endfor %}
      </p>
    </div>
  </div>