  <div class="wrapper">
    <div class="about__columns">
      <div class="about__column">
        <h2>Terms and conditions</h2>
      </div>
    </div>
    <div class="about__columns">
      <div class="about__column">
        <p>
          360Insights was developed to help explore grantmaking data published to the
          360Giving data Standard. It is offered as service <strong>without any warranty</strong>; without
          even the implied warranty of <strong>merchantability</strong> or <strong>fitness for a particular purpose</strong>.
        </p>
        <p>
          If you continue to browse and use this website, you are agreeing to comply with
          and be bound by the following terms and conditions of use, which together with
          our privacy notice govern 360Giving's relationship with you in relation to this
          website. If you disagree with any part of these terms and conditions, please do
          not use our website.
        </p>
        <p>
          The term ‘360Giving’ or ‘us’ or ‘we’ refers to the owner of the website. 
        </p>
        <p>
          Our company registration number is 09668396.
        </p>
        <p>
          Our registered address is 17 Oval Way, London, SE11 5RR. You can contact us by email info@threesixtygiving.org.
        </p>
      </div>
      <div class="about__column">
        <p class="strong">Terms of use</p>
        <p>
          The content of the pages of this website is for your general information and use only.
          It is subject to change without notice.
        </p>
        <p>
          Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness,
          performance, completeness or suitability of the information and materials found or offered on this
          website for any particular purpose. You acknowledge that such information and materials may contain
          inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the
          fullest extent permitted by law. Your use of any information or materials on this website is entirely
          at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure
          that any products, services or information available through this website meet your specific requirements.
          This website contains material which is owned by or licensed to us. This material includes, but is not
          limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than
          in accordance with the copyright notice, which forms part of these terms and conditions. All trademarks
          reproduced in this website which are not the property of, or licensed to, the operator are acknowledged
          on the website. Unauthorised use of this website may give rise to a claim for damages and/or be a
          criminal offence. From time to time this website may also include links to other websites. These
          links are provided for your convenience to provide further information. They do not signify that
          we endorse the website(s). We have no responsibility for the content of the linked website(s).
          Your use of this website and any dispute arising out of such use of the website is subject to the
          laws of England, Northern Ireland, Scotland and Wales.
        </p>
      </div>
    </div>
  </div>