
  <a href="/"><img src="{{ url_for('static', filename='images/360-insights-color.png') }}" width="256" /></a><br />
  <h1>About 360Insights</h1>
  <div class="about__columns">
    <div class="about__column">
      <p>
        360Insights aims to help you explore grantmaking data published to the 360Giving data Standard.
        It takes a 360Giving format file, combines it with other data sources and turns it into an
        interactive visual dashboard. 
      </p>
      <p>
        With 360Insights you can quickly see information on seven key areas for each funder sharing their grants data openly with 360Giving.
      </p>
      <p>
        360Giving commissioned <a href="https://dkane.net/" rel="noopener" target="_blank">David Kane</a> to build 360Insights
        and <a href="https://www.ccmdesign.ca/" rel="noopener" target="_blank">ccm.design</a> to design it.
      </p>
    </div>
    <div class="about__column">
      <p>
        You can <a href="https://github.com/ThreeSixtyGiving/Insights" rel="noopener" target="_blank">view the site code on Github</a>. 
        The tool makes use of Open Source tools, such as <a href="https://dash.plot.ly/">Dash by Plotly</a>, 
        <a href="http://flask.pocoo.org/">Flask</a> and 
        <a href="https://pandas.pydata.org/">Pandas</a>.
      </ul>
      </p>
      <p>
        {% for i in [
            ("Data sources", "data-sources"),
            ("What happens to data I upload?", "data-upload"),
            ("Cookies", "cookies"),
            ("Privacy", "privacy"),
            ("Terms and conditions", "terms"),
            ("Disclaimer", "disclaimer"),
        ] %}
          <a href="#{{ i[1] }}">{{ i[0] }}</a><br>
        {% endfor %}
      </p>
    </div>
  </div>