  <div class="wrapper">
    <div class="about__columns">
      <div class="about__column about__column--large">
        <h2>What happens to data I upload?</h2>
      </div>
      <div class="about__column about__take-down">
        <a class="about__take-down__button" href="http://www.threesixtygiving.org/take-down-policy/" target="_blank" rel="noopener">Take down policy</a>
      </div>
    </div>
    <div class="about__columns">
      <div class="about__column">
        <p class="strong">
          360Giving publishers
        </p>
        <p>
            360Insights is designed to enable you to submit files for the application to process and
            then display information from them. It also generates files in CSV and Microsoft Excel
            formats that combine the original data with the charity or company data. You can then
            download these files.
        </p>
        <p class="warning">
            Please ensure that you have the appropriate permissions to upload data to 360Insights. 
        </p>
        <p class="warning">
            Do not submit confidential or non-public personal data to this tool.
        </p>
      </div>
      <div class="about__column">
        <p class="headless">
          Any data you upload will be available at the URL created and can be accessed by anyone 
          with that link. If your data is not suitable for sharing publicly then you should treat 
          this URL with care, and only share it with people who have permission to access to the data. 
        </p>
        <p>
          We do not make use of any of the data for purposes other than to create visualisations
          for the data you have submitted and to review the operation and output of the application.
        </p>
        <p>
          We do create and store metadata about your use of the application, and about the files/data
          that you have uploaded in order to monitor how the application is being used.
        </p>
        <p>
          <a href="#">Read the 360 Insights privacy notice for further information</a>
        </p>
      </div>
    </div>
  </div>