  <div class="wrapper">
    <div class="about__columns">
      <div class="about__column">
        <h2>Data sources</h2>
      </div>
    </div>
    <div class="about__columns">
      <div class="about__column">
        <p class="strong">
          Grantmakers
        </p>
        <p>
          360Insights uses the <a href="http://data.threesixtygiving.org/">360Giving data registry</a> to retrieve grants data
          published by grantmakers to the 360Giving data Standard.
        </p>
        <p>
          Each of the files has been published by a grantmaker, usually on their own website,
          under a licence that allows the data to be reused and shared. 
          They have used a common format - the 
          <a href="http://www.threesixtygiving.org/support/standard/" rel="noopener" target="_blank">360Giving data standard</a>
           - to make files in a consistent way.
        </p>
        <p>
          When you select a dataset through 360Insights, the software will fetch the data from the publisher’s website, checks
          that it fits the data Standard, adds some external data if possible and then displays the results in the form of
          charts and a map.
        </p>
      </div>
      <div class="about__column">
        <p class="strong">
          Other data
        </p>
        <p>
          360Insights combines 360Giving data with other data sources to expand what is possible.
        </p>
        <p>
          <a href="https://findthatcharity.uk/">Findthatcharity</a> is used to bring in data about charities 
          from the following sources, used under the 
          <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a>:
        </p>
        <p>
          <a href="http://data.charitycommission.gov.uk/">Charity Commission for England and Wales</a>
        </p>
        <p>
          <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-register-download">Scottish Charity Regulator</a>
           - <span style="font-style: italic;">© Crown Copyright and database right 2019. Contains
          information from the Scottish Charity Register supplied by the Office of the
          Scottish Charity Regulator and licensed under the 
          <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">Open Government Licence v.2.0</a></span>.
        </p>
        <p>
          <a href="http://www.charitycommissionni.org.uk/charity-search/">Charity Commission for Northern Ireland</a>
        </p>
        <p>
          Data on postcodes comes from <a href="https://postcodes.findthatcharity.uk/">postcodes.findthatcharity.uk</a>. Postcode data from
          ONS used under <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a>.
        </p>
        <p>
          Contains OS data © Crown copyright and database right 2019 
        </p>
        <p>
          Contains Royal Mail data © Royal Mail copyright and database right 2019 
        </p>
        <p>
          Contains National Statistics data © Crown copyright and database right 2019
        </p>
        <p>
          Data on companies comes from the <a href="https://www.gov.uk/government/organisations/companies-house/about-our-services#uri-info">Companies House URI service</a>.
        </p>
      </div>
    </div>
  </div>