{# https://stackoverflow.com/questions/51930304/how-to-get-permission-for-cookies-from-user-in-flask #}
{% if cookies_asked() %}
        {# then user has already been asked so no requirement for consent banner #}
{% else %}
        {# show a cookie consent banner #}
        <div id="cookie-consent-container">
            <span>
                Allow cookies?
            </span>
            <a href="/about#cookies" target="_blank">More information</a>
            <button id="cookie-consent">Yes</button>
            <button id="cookie-consent-no">No</button>
        </div>
        <script>
            var fn = function () {
                document.cookie = "cookie_consent=true;max-age=31536000";
                document.getElementById('cookie-consent-container').hidden = true;
            };
            document.getElementById('cookie-consent').onclick = fn;
            var fn_no = function () {
                document.cookie = "cookie_consent=false;max-age=31536000";
                document.getElementById('cookie-consent-container').hidden = true;
            };
            document.getElementById('cookie-consent-no').onclick = fn_no;
        </script>
{% endif %}