<div class="homepage__header"><img src="{{ url_for('static', filename='images/360insights-color.png') }}" width="256"><br>
    <h2>See your grantmaking</h2>
    <h1>in new ways</h1>
    <p>
        Combine and visualise 360Giving and charity data to understand funders better.
    </p>
</div>