<div class="accordion">
    <div class="intro-section">
        <h2>Select a 360Giving dataset <br>or upload a file that meets the 360Giving Data Standard.</h2>  
        
        <button class="button modal__trigger js-choose-dataset-btn" data-id="file-selection-modal">Choose Dataset</button>
        <button class="button button--teal modal__trigger" data-id="upload-dataset-modal">Upload a file</button>
    </div>
    <div class="accordion__extra" aria-hidden>
        <ul class="card-list">
        </ul>
    </div>
</div>