{% if config.get("NEWSLETTER_FORM_ACTION") %}
<div class="homepage__newsletter">
    <div class="wrapper">
        <form class="homepage__newsletter__form" action="{{ config.NEWSLETTER_FORM_ACTION }}">
            <input type="hidden" name="u" value="{{ config.NEWSLETTER_FORM_U }}">
            <input type="hidden" name="id" value="{{ config.NEWSLETTER_FORM_ID }}">
            <input type="email" name="MERGE0" placeholder="Signup for our Newsletter...">
            <input type="submit" value="send">
        </form>
    </div>
</div>
{% endif %}