<div class="homepage__data-sources">
    <div style="display: inline-block; text-align: left;">
        <h2>Data sources</h2>
        <div>
            <p>
                Charity data is sourced from <a href="https://findthatcharity.uk">findthatcharity.uk</a> and postcode
                data from <a href="https://postcodes.findthatcharity.uk">postcodes.findthatcharity.uk</a>.
                Company data is fetched using Companies House URIs. All external data is used under
                the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a>.
            </p>
            <p>
                <a href="{{ url_for('home.about') }}#data-sources">More about data sources</a>
            </p>
        </div>
    </div>
</div>