<div class="homepage__newsletter">
    <div class="wrapper">
        <form class="homepage__newsletter__form" action="{{ newsletter.form_action }}">
            <input type="hidden" name="u" value="{{ newsletter.form_u }}">
            <input type="hidden" name="id" value="{{ newsletter.form_id }}">
            <input type="email" name="MERGE0" placeholder="Signup for our Newsletter...">
            <input type="submit" value="send">
        </form>
    </div>
</div>