<div class="homepage__file-selection">
    <div class="homepage__file-selection__wrapper">
        <p>
            Select a dataset<br>
            or upload a file that meets the <a href="http://www.threesixtygiving.org/support/standard/" target="_blank">360Giving Standard</a>.
        </p>
        <div class="homepage__file-selection__zone"><button id="file-selection-open"
                class="js-choose-dataset-btn button">Choose a dataset</button>
            <div id="upload-dataset-open" class="homepage__file-selection__upload js-upload-dataset-btn">
                <p class="text">Upload a file</p>
                <p class="homepage__file-selection__upload-icon">cloud_upload</p>
            </div>
        </div>
    </div>
</div>