<div id="upload-progress-modal" class="homepage__data-selection hidden js-homepage-upload-progress-window js-modal">
    <div class="homepage__data-selection__window">
        <div class="homepage__data-selection__highlight">
            Upload progress
            <div id="file-selection-close" class="close-button js-homepage-upload-progress-window-close">
            </div>
        </div>
        <div id="upload-progress">
            <div class="page-loader" style="position: absolute;">
                <div class="la-ball-atom la-2x">
                    <div style="background-color:#0b2833"></div>
                    <div style="color:#cddc2b;"></div>
                    <div style="color:#f4831f;"></div>
                    <div style="color:#9c1f61;"></div>
                </div>
            </div>
        </div>
    </div>
</div>