<div id="upload-progress-modal" class="modal" aria-hidden>
    <div class="modal__overlay modal__trigger" data-id="upload-progress-modal"></div>
    <div class="modal__window">
        <button class="modal__close modal__trigger" data-id="upload-progress-modal"></button>
        <div class="modal__content">
          <div class="page-loader" style="position: absolute; display: none;" id="upload-progress-loader">
              <div class="la-ball-atom la-2x">
                  <div style="background-color:#0b2833"></div>
                  <div style="color:#cddc2b;"></div>
                  <div style="color:#f4831f;"></div>
                  <div style="color:#9c1f61;"></div>
              </div>
          </div>
          <div class="homepage__data-selection__highlight">
              Fetching data
              <div id="file-selection-close" class="close-button js-homepage-dataset-fetching-window-close">
              </div>
          </div>
          <div id="upload-progress" class="homepage__data-fetching__content">
              <div class="homepage__data-fetching__display" id="upload-progress-main">
                  <div class="homepage__data-fetching__display-header">
                      <div class="homepage__data-fetching__process-name"></div>
                      <div class="homepage__data-fetching__steps"></div>
                  </div>
                  <progress value="0" max="11">
                      <div class="progress-bar">
                          <div class="progress-bar__bar" style="width: 0%"></div>
                      </div>
                  </progress>
              </div>
              <div class="homepage__data-fetching__display" id="upload-progress-sub">
                  <div class="homepage__data-fetching__display-header">
                      <div class="homepage__data-fetching__process-name">
                          &nbsp;
                      </div>
                      <div class="homepage__data-fetching__steps"></div>
                  </div>
                  <progress value="0" max="11">
                      <div class="progress-bar">
                          <div class="progress-bar__bar" style="width: 0%"></div>
                      </div>
                  </progress>
              </div>
              <div class="homepage__data-fetching__display" id="upload-progress-error">
                  <div class="homepage__data-fetching__display-header">
                      <div class="homepage__data-fetching__process-name"></div>
                      <div class="homepage__data-fetching__steps"></div>
                  </div>
                  <div class="homepage__data-fetching__display-error">

                  </div>
              </div>
          </div>
          <div class="homepage__data-selection__upload-wrapper">
              <a href="#" class="homepage__data-selection__upload-button invalid" id="upload-progress-results">View results</a> <!-- "invalid" class disables button -->
          </div>
        </div>
    </div>
</div>