<h1>Reload a file</h1>
<form method="POST" action="">

  <label for="fileid">File id</label>
  <input id="fileid" type="text" name="fileid" placeholder="e.g. a003W000004OfNSQA0">
  <input type="submit">
</form>

{% if file_id %}
<p>Reloading {{file_id}}</p>
<iframe id="status" height="400" width="400"></iframe>
<script>
var jobId = {{job}};
  //poll job id
  setInterval(function () {
    document.getElementById("status").src  = "/job/"+jobId.job;
  }, 2000);
</script>

{% endif %}