{% extends 'base.html.j2' %}

{% block content %}
<div id="page-content" class="cf">
    {% include '_upload_progress_modal.html.j2' %}
    {% include '_file_selection_modal.html.j2' %}
    {% include '_upload_dataset_modal.html.j2' %}
    {% include '_homepage_header.html.j2' %}
    {% include '_homepage_file_selection.html.j2' %}
    {% include '_homepage_data_sources.html.j2' %}
    {% include '_homepage_newsletter.html.j2' %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}