<!DOCTYPE html>
<html>
<head>
    <title>Grants Map</title>
    <meta charset="utf-8" />
    <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" 
          integrity="sha256-SHMGCYmST46SoyGgo4YR/9AlK1vf3ff84Aq9yK4hdqM=" crossorigin="anonymous" /> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" 
          integrity="sha256-+bdWuWOXMFkX0v9Cvr3OWClPiYefDQz9GGZP/7xZxdc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" 
          integrity="sha256-LWhzWaQGZRsWFrrJxg+6Zn8TT84k0/trtiHBc6qcGpY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.groupedlayercontrol.css')}}" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js" 
            integrity="sha256-EErZamuLefUnbMBQbsEqu1USa+btR2oIlCpBJbyD4/g=" crossorigin="anonymous"></script> #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js" 
            integrity="sha256-WL6HHfYfbFEkZOFdsJQeY7lJG/E5airjvqbznghUzRw=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/leaflet.groupedlayercontrol.js') }}"></script>

    <script>
        L.mapbox.accessToken = {{mapbox_access_token|tojson}};
        var map = L.mapbox.map('map').setView([-41.2858, 174.78682], 14);
        L.mapbox.styleLayer('mapbox://styles/mapbox/light-v10').addTo(map)

        map.scrollWheelZoom.disable();
        map.on('focus', function() { map.scrollWheelZoom.enable(); });
        map.on('blur', function() { map.scrollWheelZoom.disable(); });

        var attribution = '<br><strong>Boundary Data</strong> Source: Office for National Statistics licensed under the Open Government Licence v.3.0.<br>' + 
                          'Contains OS data © Crown copyright and database right {{ current_year }}';

        var boundary_options = function(color){
            return {
                style: {fillOpacity: 0.05, color: color, opacity: 0.6, weight: 2},
                attribution: attribution,
            }
        }
        var boundary_name_field = function(layer){
            var name_field = Object.keys(layer.feature.properties).find(el => el.endsWith("nm"));
            return layer.feature.properties[name_field];
        }
        var overlays = {
            "Overlay data": { 
                "No overlay": L.mapbox.featureLayer(null).addTo(map),
                'Deprivation (England - IMD2019 ranks)': L.mapbox.styleLayer('mapbox://styles/davidkane/ck309ufnq0rrx1csftj9515ze'),
                '- Income': L.mapbox.styleLayer('mapbox://styles/davidkane/ck30aacb008pv1ckcfwxau2nk'),
                '- Employment': L.mapbox.styleLayer('mapbox://styles/davidkane/ck30abu8r0b511cqjl7gnb835'),
                '- Education': L.mapbox.styleLayer('mapbox://styles/davidkane/ck30acrnp0s621coaemmp19rm'),
                '- Health': L.mapbox.styleLayer('mapbox://styles/davidkane/ck30afwq40s4p1claktbbm3gk'),
                '- Crime': L.mapbox.styleLayer('mapbox://styles/davidkane/ck30a3zhs0ay81cqjcvxdeqbs'),
                '- Barriers to Housing & Services': L.mapbox.styleLayer('mapbox://styles/davidkane/ck30agq740bah1co9csdf1yu5'),
                '- Living Environment': L.mapbox.styleLayer('mapbox://styles/davidkane/ck30ahvkn0be01dmu0r75ryvj'),
            },
            "Boundaries": { 
                "No boundaries": L.mapbox.featureLayer(null).addTo(map),
                'Country and Region': L.mapbox.featureLayer(null, boundary_options('#888'))
                    .loadURL('https://opendata.arcgis.com/datasets/01fd6b2d7600446d8af768005992f76a_3.geojson')
                    .bindPopup(boundary_name_field),
                'Local Authorities (Upper Tier)': L.mapbox.featureLayer(null, boundary_options('red'))
                    .loadURL('https://opendata.arcgis.com/datasets/c6e8170231034aaa92f4bc21ebf77aec_0.geojson')
                    .bindPopup(boundary_name_field),
                'Local Authorities (Lower Tier)': L.mapbox.featureLayer(null, boundary_options('pink'))
                    .loadURL('https://opendata.arcgis.com/datasets/bbb0e58b0be64cc1a1460aa69e33678f_0.geojson')
                    .bindPopup(boundary_name_field),
                'Parliamentary Constituencies': L.mapbox.featureLayer(null, boundary_options('green'))
                    .loadURL('https://opendata.arcgis.com/datasets/47e59e1e38ee4db0af18d57821bb4709_0.geojson')
                    .bindPopup(boundary_name_field),
                'Clinical Commissioning Groups (England)': L.mapbox.featureLayer(null, boundary_options('blue'))
                    .loadURL('https://opendata.arcgis.com/datasets/c3398f0560844f74b76ca4b4136eb6a3_3.geojson')
                    .bindPopup(boundary_name_field),
                'Local Enterprise Partnerships (England)': L.mapbox.featureLayer(null, boundary_options('blue'))
                    .loadURL('https://opendata.arcgis.com/datasets/d4d519d1d1a1455a9b82331228f77489_3.geojson')
                    .bindPopup(boundary_name_field),
            }
        };

        L.control.groupedLayers({}, overlays, {
            exclusiveGroups: Object.keys(overlays),
            collapsed: false,
            hideSingleBase: true,
        }).addTo(map);

        map.addControl(L.mapbox.legendControl());

        var markers = L.markerClusterGroup({
            singleMarkerMode: true,
        });

        {% for g in geo.values() -%}
            markers.addLayer(
                L.marker([{{g.__geo_lat|tojson}}, {{g.__geo_long|tojson}}])
                 .bindPopup(
                    '<strong>From</strong> ' + {{g["Funding Org:0:Name"]|tojson}} + '<br>' +
                    '<strong>To</strong> ' + {{g["Recipient Org:0:Name"]|tojson}} + '<br>' +
                    '<strong>Amount</strong> ' + {{g["Amount String"]|tojson}} + '<br>' +
                    '<strong>Awarded</strong> ' + {{g["Award Date"]|tojson}}
                )
            );
        {% endfor %}
        map.addLayer(markers);
        map.fitBounds(markers.getBounds(), {maxZoom: 9});

    </script>
</body>
</html>