{% extends 'base.html.j2' %}

{% block content %}
<div id="page-content" class="cf">
    <h1><span class="total-grants"></span> Grants</h1>
    <h1><span class="total-amount"></span> Amount (£)</h1>
    <h1><span class="num-funders"></span> funders</h1>
    <select id="funder-select" multiple=True>
        <option>The Big Lottery Fund</option>
        <option>Northern Rock Foundation</option>
    </select>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>var dataset = '{{ dataset }}';</script>
    <script src="{{ url_for('static', filename='js/insights.js') }}"></script>
{% endblock %}